*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Card{
    width: 20em;
    height: 25em;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    gap: .2em
}
.bottom-section{
    display: flex;
    flex-direction: column;
    gap: .5rem
}
.Card img {
    width: 100%;
    height: 75%;
    margin: 0 0 auto 0
}
.bottom-section .stars {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1em;
}

.stars .fa-star{
    color: red;
}
b::after {
    content: ' '
}
small::before {
    content: ' '
}

p{
    display: flex;
    align-items:center;
}
p small {
    align-self: center;
}